fastapi
uvicorn[standard]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
sqlalchemy
stripe
python-jose
python-dotenv==1.0.0
openai
jinja2
python-multipart
psycopg2-binary
alembic
setuptools
wheel
httpx
requests
