stripe
python-jose[cryptography]
python-dotenv==1.0.0
openai
jinja2
python-multipart
psycopg2-binary
alembic
setuptools
wheel
httpx
requests
pytz==2023.3
slowapi
redis==4.6.0
structlog
fastapi-csrf-protect
email-validator
bleach
pydantic-settings
ipaddress
